<p id="notice"><%= notice %></p>

<h1>All <%= "logged #{@only} " if @only %>sessions</h1>

<div class="blocks">
<div class="block profile-block">
  <h3>Logout Everywhere</h3>
  <p>
    To log out everywhere where you have logged in. You will also log out on this device, you will need to log in again.
  </p>
  <div class="flex">
    <button><%= link_to 'Logout everywhere', "/sessions/destroy_all", method: :delete, data: { confirm: 'Are you sure?. You will need to log in again' } %></button>
    <button><%= link_to 'Logout here instead', current_session, method: :delete, data: { confirm: 'Are you sure?.' } %></button>
  </div>
</div>
<% if @sessions.any? %>
  <% @sessions.order(updated_at: :desc).each do |session| %>
    <div class="block profile-block">
      <span>Logged</span>
      <strong><%= session.state.capitalize %></strong>
      <% if session == current_session %>
        (This Device)
      <% end %>
      <br>
      <strong>Browser </strong>
      <span><%= session.useragent.browser %></span>
      <br>
      <strong>On </strong>
      <span><%= session.useragent.os %></span>
      <br>
      <strong>Logged In at </strong>
      <span><%= session.created_at.strftime("%r on %a %d %b %Y") %></span>
      <br>
      <strong>Last Saw at </strong>
      <span><%= session.updated_at.strftime("%r on %a %d %b %Y") %></span>
      <br>
      <% if session.state == "in" %>
        <div class="flex">
          <button><%= link_to 'Log Out', session, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <span class="block">Nothing found</span>
<% end %>

<br>
<% content_for :panel do %>
<ul class="menu">
<% if @only.present? %>
  <li><%= link_to 'Show all sessions', sessions_path %></li>
<% end %>
<% if @only != "in" %>
  <li><%= link_to 'Show only active sessions', sessions_path({only: "in"}) %></li>
<% end %>
<% if @only != "out" %>
  <li><%= link_to 'Show only logged out sessions', sessions_path({only: "out"}) %></li>
<% end %>
</ul>
<% end %>