<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @session.state %>
</p>

<p>
  <strong>Cookie:</strong>
  <%= @session.cookie %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @session.employee %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
