<%= form_with model: employee, local: true, class: "block" do |form| %>
  <%= render "error", object: employee %>

  <div class="field">
    <%= form.label :names %>
    <%= form.text_field :names %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :idcard %>
    <%= form.text_field :idcard %>
  </div>
  
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, autocomplete: "password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, autocomplete: "password" %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit %>
  </div>
<% end %>
