<%= form_with url: "/sessions", scope: :session, local: true, class: "block" do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit "Log In"  %>
  </div>
<% end %>
