<h2>My Profile</h2>

<div class="blocks hours-main-block profile-block">
  <div class="block">
    <strong>Names:</strong>
    <%= @employee.names %><br>

    <strong>Email:</strong>
    <%= @employee.email %><br>

    <strong>Idcard:</strong>
    <%= @employee.idcard %><br>

    <% if @employee.admin %>
      <strong>Admin:</strong>
      <%= @employee.admin %><br>
    <% end %>

    <strong>Position:</strong>
    <%= getPositionId @employee.position %><br>

    <div class="flex">
      <br>
      <button><%= link_to 'Edit', edit_employee_path(@employee) %></button>
      <button><%= link_to 'Sessions', sessions_path %></button>
      <button><%= link_to 'Log out', @current_session, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
</div>
</div>
