<ul class="menu">
  <li><%= link_to 'Attendance status', new_attendance_path %></li>
</ul>
<h3>Filter</h3>
<%= form_with method: "get", local: true do |form| %>
  <h5>Time Scope:</h5>
  <% params[:date] ||= {scope: "week"} %>
  <%= radio_button_tag "date[scope]", "month", ("checked" if params[:date][:scope] == "month") %> Month<br>
  <%= radio_button_tag "date[scope]", "week", ("checked" if params[:date][:scope] == "week")  %> Week<br>
  <h5>Time Range:</h5>
  <div class="options-calendar">
    <div class="flex">
      <%= select_year @d %>
      <%= select_month @d %>
    </div>
    <div>
      <%= select_day @d %>
    </div>
  </div>

  <div class="field">
    <h3>Employees</h3>
    <% for employee in Employee.where.not(position: 7) %>
        <%= check_box_tag "employee[]", employee.id, ("checked" if params[:employee].include? employee.id.to_s) %> <%= employee.names %><br>
    <% end %>
  </div>

  <div class="flex">
    <%= form.submit "Update", class: "tab" %>
  </div>
<% end %>
<%= javascript_include_tag 'timescope', 'data-turbolinks-track': 'reload', defer: true %>