<%= form_with model: employee, local: true, url: "/admin/employees/#{employee.id}" do |form| %>
  <%= render "error", object: employee %>
  <%= form.hidden_field :password_only, value: @password %>

<% if @password == false %>
  <div class="field">
    <%= form.label :names %>
    <%= form.text_field :names %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :idcard %>
    <%= form.text_field :idcard %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= select_tag "employee[department]", options_for_select(getDepartmentOptions) %>
  </div>

  <div class="field">
    <%= form.label :head, "Head of Department" %>
    <%= form.check_box :head %>
  </div>

  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= select_tag "employee[position]", options_for_select(getPositionOptions) %>
  </div>

  <p>
    <button><%= link_to "Change Password", edit_admin_employee_path(password: true) %></button>
  </p>
<% else %> 
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <p>
    <%= link_to "Change Other Fields", edit_admin_employee_path(password: false) %>
  </p>
<% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
