
<h1><%= pluralize(@employees.count, "#{@status} Employee") %></h1>

<div class="blocks hours-main-block profile-block">
  <% @employees.each do |e| %>
  <div class="block">
    <%= render 'admin_show_form', employee: e %>
    <p>
    	<% if e.position.to_i == 7 %>
    		<%= link_to 'Recruit', recruit_admin_employee_path(e) %> 
    	<% end %>
      <div class="flex">
        <button><%= link_to 'Show', admin_employee_path(e) %> </button>
        <button><%= link_to 'Edit', edit_admin_employee_path(e) %> </button></button>
      </div>
    </p>
    </div>
  <% end %>
</div>

<% content_for :panel do %>
<ul class="menu">
  <li><%= link_to 'New Employee', new_employee_path %></li>
</ul>
<h3>Filter</h3>
<%= form_with method: "get", local: true do |form| %>

  <div class="field">
    <%= label_tag :all, "All" %> <%= "(yes)" if params[:pending] == nil && params[:accepted] == nil  %>
    <%= check_box_tag :all %>
  </div>

  <div class="field">
    <%= label_tag :pending, "Pending" %> <%= "(yes)" if params[:pending].to_i == 1 %>
    <%= check_box_tag :pending %>
  </div>

  <div class="field">
    <%= label_tag :accepted, "Accepted" %> <%= "(yes)" if params[:accepted].to_i == 1 %>
    <%= check_box_tag :accepted, 1 %>
  </div>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>
<% end %>

<% end %>
<% content_for :panel_type do %>inline<% end %>
