<h1>Home</h1>
<div class="blocks">
	<a href="<%= admin_documents_path  %>" class="block">
		<h3>Documents</h3>
		<span><%= pluralize Document.where(approved: true).count, "document" %> approved, <%= pluralize Document.where.not(approved: true).count, "document" %> pending</span>
	</a>
	<a href="<%= admin_attendances_path %>" class="block">
		<h3>Attendances</h3>
		<span>
			View Attendance logs of Employees
		</span>
	</a>
	<a href="<%= admin_employees_path %>" class="block">
		<h3>Employees</h3>
		<span><%= pluralize Employee.where.not(position: 7).count, "employee" %>, <%= pluralize Employee.where(position: 7).count, "employee" %> pending</strong></span>
	</a>
	<a href="<%= admin_leaves_path %>" class="block">
		<h3>Leaves</h3>
		<span><%= pluralize Leave.where(approved: true).count, "leave" %> approved, 
		<% if current_employee.position.to_i == 6 %>
			<%= pluralize Leave.where(recommended: true, approved: false).count, "leave" %> recommended but not yet approved, 
		<% end %>
		<%= pluralize Leave.where(recommended: false).count, "leave" %> pending</span>
	</a>
	<a href="/help#admin" class="block">
		<h3>Help</h3>
		<span>View how to use RwarriMS, for Administators</span>
	</a>
</div>