<p>
  <strong>Reason </strong>
  <%= leave.reason %>
</p>
<p>
  <strong>By </strong>
  <%= leave.employee.names %>
</p>
<p>
  <strong>Start </strong>
  <%= leave.start %>
</p>
<p>
  <strong>End </strong>
  <%= leave.end %>
</p>
<p>
  <strong>Expected to be at workplace </strong>
  <%= leave.expected %>
</p>
<p>
  <strong>Recommended </strong>
  <%= leave.recommended %>
</p>
<% if leave.recommended %>
  <p>
    <strong>Recommended by </strong>
    <%= Employee.find(leave.recommended_by).names %>
  </p>
  <p>
    <strong>Recommended on </strong>
    <%= leave.date_recommended %>
  </p>
  <p>
    <strong>Approved </strong>
    <%= leave.approved %>
  </p>
  <% if leave.approved %>
    <p>
      <strong>Approved by </strong>
      <%= Employee.find(leave.approved_by).names %>
    </p>
    <p>
      <strong>Approved on </strong>
      <%= leave.date_approved %>
    </p>
  <% end %>
<% end %>