<p>
  <strong>Reason </strong>
  <%= leave.reason %>
</p>
<p>
  <strong>By </strong>
  <%= link_to leave.employee.names, admin_employee_path(leave.employee) %>
</p>
<p>
  <strong>Start </strong>
  <%= leave.start %>
</p>
<p>
  <strong>End </strong>
  <%= leave.end %>
</p>
<p>
  <strong>Expected to be at workplace </strong>
  <%= leave.expected %>
</p>
<p>
  <strong>Recommended </strong>
  <%= leave.recommended %> 
  <% if leave.recommended %>
    (by <%= @e=Employee.find(leave.recommended_by); link_to @e.names, admin_employee_path(@e) %> on <%= leave.date_recommended %>)
  <% end %>
</p>
<% if leave.recommended %>
  <p>
    <strong>Approved </strong>
    <%= leave.approved %>
    <% if leave.approved %>
      (by <%= @e=Employee.find(leave.approved_by); link_to @e.names, admin_employee_path(@e) %> on <%= leave.date_approved %>)
    <% end %>
  </p>
<% end %>