<h1><%= pluralize(@leaves.count, "#{@n} #{@status.capitalize} leave")  %></h1>

<div class="blocks hours-main-block">
<% @leaves.each do |leave| %>
  <div class="block leave-block">
  <%= render 'admin_show_leave', leave: leave %>
  <p>
    <button><%= link_to 'Show', admin_leave_path(leave) %> </button>
    <button><%= link_to 'Recommend/Approve', recommend_admin_leave_path(leave) %> </button>
    <button><%= link_to 'Edit', edit_admin_leave_path(leave) %> </button>
    <button><%= link_to 'Destroy', admin_leave_path(leave), method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </p>
  </div>
<% end %>
</div>
<br>
<% content_for :panel do %>
<ul class="menu">
  <li><%= link_to 'New leave', new_leave_path %></li>
  <% url = @url.include?("?") ? @url+"&format=pdf" : @url+"?format=pdf" %>
  <li><%= link_to 'Generate PDF',  url %></li>
</ul>
<h3>Filter</h3>
<%= form_with method: "get", local: true do |form| %>

  <div class="field">
    <%= label_tag :recommended, "Recommended" %> <%= "(yes)" if params[:recommended].to_i == 1 %>
    <%= check_box_tag :recommended %>
  </div>

  <div class="field">
    <%= label_tag :approved, "Approved" %> <%= "(yes)" if params[:approved].to_i == 1 %>
    <%= check_box_tag :approved, 1 %>
  </div>

  <div class="field">
    <h3>Employees</h3>
    <% for employee in Employee.where.not(position: 7) %>
        <%= check_box_tag "employee[]", employee.id, ("checked" if params[:employee].include? employee.id.to_s) %> <%= employee.names %><br>
    <% end %>  </div>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>
<% end %>


<% end %>
<% content_for :panel_type do %>inline<% end %>
