<%= form_with(model: leave, local: true) do |form| %>
  <%= render "error", object: leave %>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_area :reason %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_local_field :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_local_field :end %>
  </div>

  <div class="field">
    <%= form.label :expected, "Expected to be at workplace" %>
    <%= form.datetime_local_field :expected %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, options_for_select(getCategoryOptions) %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit %>
  </div>
<% end %>
