<h1>My <%= pluralize(@leaves.count, " #{@status.capitalize} leave") %></h1>

<div class="blocks hours-main-block">
<% @leaves.each do |leave| %>
  <div class="block leave-block">
  <%= render "leave_show", leave: leave %>
  <div class="flex">
    <button><%= link_to 'Show', leave %></button>
    <button><%= link_to 'Edit', edit_leave_path(leave) %></button>
    <button class="outline delete-button"><%= link_to 'Delete', leave, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
  </div>
<% end %>
</div>

<% content_for :panel do %>
<h3>Actions</h3>
<ul class="menu">
  <li><%= link_to 'New leave', new_leave_path %></li>
</ul>
<h3>Filter</h3>
<%= form_with method: "get", local: true do |form| %>

  <div class="field">
    <%= check_box_tag :recommended, 1, ("checked" if params[:recommended].to_i == 1)  %>
    <%= label_tag :recommended, "Recommended" %>
  </div>

  <div class="field">
    <%= check_box_tag :approved, 1, ("checked" if params[:approved].to_i == 1) %>
    <%= label_tag :approved, "Approved" %>
  </div>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>
<% end %>

<% end %>
<% content_for :panel_type do %>inline<% end %>