<h2>Leave</h2>

<div class="blocks hours-main-block">
<div class="block leave-block">
  <%= render "leave_show", leave: @leave %>
  <div class="flex">
    <button><%= link_to 'Edit', edit_leave_path(@leave) %></button>
    <button class="outline delete-button"><%= link_to 'Delete', @leave, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
</div>
</div>

<% content_for :panel do %>
<h3>Actions</h3>
<ul class="menu">
	<% url = @url.include?("?") ? @url+"&format=pdf" : @url+"?format=pdf" %>
  <li><%= link_to 'Generate PDF',  url %></li>
  <li><%= link_to 'Back', leaves_path %></li>
</ul>
<% end %>
<% content_for :panel_type do %>inline<% end %>

