<%= form_with(model: document, local: true) do |form| %>
  <%= render "error", object: document %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.file_field :attachment %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit %>
  </div>
<% end %>
