<p>
	<strong>Title </strong>
	<%= document.title %>
</p>
<p>
	<strong>Approved </strong>
	<%= document.approved %>
</p>
<% if document.approved %>
	<p>
		<strong>Approved by </strong>
		<% @e = Employee.find(document.approved_by) %>
		<%= link_to @e.names, admin_employee_path(@e) %>
	</p>
<% end %>
<p>
	<strong>By </strong>
	<%= link_to document.employee.names, admin_employee_path(document.employee) %>
</p>
<p>
	<strong>Preview </strong><br>
	<% if document.attachment.content_type.start_with? "image" %>
    <%= image_tag url_for(document.attachment),width: 100, height: 100 %>
  <% else %>
  	No Preview
  <% end -%>
</p>