<div class="block document-preview-block" style="background-image: url(<%= "\"#{url_for(document.attachment)}\"" %>);">
	<div class="meta">
	  <h4><%= document.title %></h4>
	  <small>by <strong class="by"><%= link_to document.employee.names, admin_employee_path(document.employee) %></strong></small>
	  <small>uploaded <strong><%= time_ago_in_words(document.created_at) %> ago</strong></small>
	  <small class="flex">
	  	<button><%= link_to 'Show', admin_document_path(document) %> </button>
	  </small>
	</div>
</div>
<!--<%= link_to 'Edit', edit_document_path(document) %> -->
  <!--<%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %>-->