<p id="notice"><%= notice %></p>

<h1><%= pluralize(@documents.count, " #{@only} document") %></h1>

    <% @documents.each do |document| %>
      <%= render 'show_form', document: document %>
			<p>
				<%= link_to 'Show', admin_document_path(document) %> 
			  <%= link_to 'Edit', edit_admin_document_path(document) %> 
			  <%= link_to 'Approve', approve_admin_document_path(document) %> 
			  <%= link_to 'Download', url_for(document.attachment) %> 
			  <%= link_to 'Delete', admin_document_path(document), method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
      <hr>
    <% end %>

<br>

<% content_for :panel do %>
<h3>Filter</h3>
<%= form_with method: :get, local: :true do |form| %>
	<%= form.radio_button :only, :all %> All<br>
	<%= form.radio_button :only, :pending %> Pending<br>
	<%= form.radio_button :only, :approved %> Approved<br>
	<h3>Employees</h3>
	<% for employee in Employee.where.not(position: 7) %>
	    <%= check_box_tag "employee[]", employee.id, ("checked" if params[:employee].include? employee.id.to_s) %> <%= employee.names %><br>
	<% end %>
	<p>
		<%= form.submit "Update", :disable_with => 'Updating...' %>
	</p>
<% end %>
<% end %>
<% content_for :panel_type do %>inline<% end %>
