<% new_day = new_day %>
<% old_day = old_day %>

<div class="blocks hours-main-block">
  <div class="block">
    <p>From <strong><%= old_day.strftime("%a %d %b %Y") %></strong> to <strong><%= new_day.strftime("%a %d %b %Y") %></strong></p> 
  </div>
</div>

<% allattendances = attendances %>
<% range = (old_day.beginning_of_day.to_date)..(new_day.beginning_of_day.to_date) %>
<% today = range.end %>
<% ttime = 0 %>
<div class="blocks hours-main-block">
  <div class="block hours-log-table">
    <table>
      <thead>
        <th>Date</th>
        <th>Hours</th>
      </thead>
      <tbody>
      <% loop do %>
        <tr>
        <% if today == range.begin.yesterday.to_date %>
          <% break %>
        <% end -%>
        <th><%= today.strftime("%a %d %b %Y") %></th>
        <% attendances = allattendances.where(created_at: today.beginning_of_day..today.end_of_day) %>
        <td>
        <% for attendance in attendances %>
          <hr>
          <b>Check In</b> <%= attendance.created_at.strftime("%r on %a %d %b %Y") %><br>
          <b>Check Out</b> <%= attendance.updated_at.strftime("%r on %a %d %b %Y") %><hr>
          <% wtime = attendance.updated_at - attendance.created_at %>
          <% ttime += wtime %>
          <b>Time worked</b> <%= time_ago wtime %>
        <% end %>
        <% if attendances.empty? %>
          No attendances today 
        <% end %>
        </td>
        <% today = today.yesterday %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="block">
    <h2>Total time worked</h2>
    <p><%= time_ago ttime %></p>
  </div>
</div>
