<% new_day = new_day %>
<% old_day = old_day %>

<div class="blocks hours-main-block">
  <div class="block">
    <p>From <strong><%= old_day.strftime("%a %d %b %Y") %></strong> to <strong><%= new_day.strftime("%a %d %b %Y") %></strong></p> 
  </div>
</div>

<% allattendances = attendances %>
<% range = (old_day.beginning_of_day.to_date)..(new_day.beginning_of_day.to_date) %>
<% today = range.end %>
<% ttime = 0 %>
<div class="blocks hours-main-block">
  <div class="block hours-log-table">
    <table class="attendance-table">
      <thead>
        <th>Date</th>
        <th>Hours</th>
      </thead>
      <tbody>
      <% loop do %>
        <tr>
        <% if today == range.begin.yesterday.to_date %>
          <% break %>
        <% end -%>
        <th><%= today.strftime("%a %d %b %Y") %></th>
        <% attendances = allattendances.where(created_at: today.beginning_of_day..today.end_of_day) %>
        <td>
        <% for attendance in attendances %>
          <br>
          <div class="attendance">
            <% if @admin %>
            <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/<%= attendance.location.long %>,<%= attendance.location.lat %>,16/1000x400?access_token=pk.eyJ1Ijoidml4YWxpZW4iLCJhIjoiY2s2Nml4dWNxMDg4ZDNkcDZyamRwaG5uZiJ9.WinoZhj2C2TxDLXmbkzlpg" class="attendance-location"><br>
            <b>At </b> <%= attendance.location.city %>, <%= attendance.location.state %> <%= attendance.location.country %><br>
            <b>Browser </b> <%= attendance.useragent.browser %><br>
            <b>OS </b> <%= attendance.useragent.os %><br>
            <% end %>
            <b>Check In</b> <%= attendance.created_at.strftime("%r on %a %d %b %Y") %><br>
            <b>Check Out</b> <%= attendance.updated_at.strftime("%r on %a %d %b %Y") %><br>
            <% wtime = attendance.updated_at - attendance.created_at %>
            <% ttime += wtime %>
            <b>Time worked</b> <%= time_ago wtime %>
          </div>
        <% end %>
        <% if attendances.empty? %>
          No attendances today 
        <% end %>
        </td>
        <% today = today.yesterday %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="block">
    <h2>Total time worked</h2>
    <p><%= time_ago ttime %></p>
  </div>
</div>
