<!DOCTYPE html>
<html>
  <head>
    <title><%= action_name.downcase.gsub("index","all").capitalize %> <%= controller_name.downcase.gsub("index","home").capitalize %> - Rwarrims</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="flex horizontal">
    <nav>
      <div>
        <h2>RwarriMS<span class="menu-tog" id="menu-tog">menu</span></h2>
        <ul class="menu" id="main-menu">
          <li><input type="text" name="hello" placeholder="Search"></li>
          <li <%= "selected" if params[:controller] == "employees" && params[:action] == "login" %>><%= link_to "Login", employees_login_path %></li>
          <li <%= "selected" if params[:controller] == "employees" && params[:action] == "new" %>><%= link_to "New Employee", new_employee_path %></li>
          <li <%= "selected" if params[:controller] == "index" && params[:action] == "help" %>><%= link_to "Help", help_path %></li>
        </ul>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
